.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: thin solid black;

  a {
    margin-right: 1rem;
    cursor: pointer;
    text-transform: uppercase;
  }
}